$primario: '#FD3737'; // Rojo
$secundario: '#16B396'; // Azul Marino
$alt: '#0B1828'; // Azul Oscuro
$texto: '#FFFFFF'; // Blanco

$background: '#FFFFFF';
$detalles: '#FFFFFF';
$links: '#FFFFFF';

$titulos: 'Montserrat', sans-serif;
$texto: 'Raleway', sans-serif;